
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  thead th {
    background-color: #ffffff;
    color: rgb(24, 23, 23);
    font-weight: 600;
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid #F3F4F6;
    border-right: 1px solid #F3F4F6;
  }

  tbody {
    background-color: white;
  }

  tbody td {
    color: #4A5568;
    padding: 0.5rem;
    text-align: center;
    font-size:medium;
    border-top: 1px solid #F3F4F6; 
    border-right: 1px solid #F3F4F6;
  }

  tbody tr:hover {
    background-color: #F7FAFC;
  }
  .active {
    background-color: #f3f4f6; 
    color: #1f2937; 
}

.tabel-keuangan-container {
    background-color: white; /* bg-white */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1); 
    border-radius: 0.5rem; 
    overflow: hidden; 
    margin-bottom: 1.5rem; 
  }
  
  .tabel-keuangan-caption {
    padding: 1.25rem; 
    font-size: 1.125rem; 
    font-weight: 600;
    text-align: left; 
    color: #1E293B; 
    background-color: #F9FAFB; 
  }
  
  .tabel-keuangan-caption a {
    color: #4B5563; 
    text-decoration: none; 
  }
  
  .tabel-keuangan-caption a:hover {
    text-decoration: underline; 
  }
  
  .tabel-keuangan {
    width: 100%; 
    text-align: left; 
    color: #6B7280; 
    border-collapse: collapse; 
  }
  
  .tabel-keuangan thead {
    font-size: 0.875rem; 
    color: #374151; 
    text-transform: uppercase; 
    background-color: #F9FAFB; 
  }
  
  .tabel-keuangan thead th {
    padding: 0.75rem 1.5rem; 
    font-weight: 500;
  }
  
  .tabel-keuangan tbody tr {
    background-color: white;
    border-bottom: 1px solid #E5E7EB; 
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .tabel-keuangan tbody tr:hover {
    background-color: #F3F4F6; 
  }
  
  .tabel-keuangan tbody td {
    padding: 0.75rem 1.5rem; 
  }
  
  .tabel-keuangan tfoot tr {
    font-size: 1.125rem; 
    color: #1E293B; 
    font-weight: 600; 
  }
  
  .tabel-keuangan tfoot th {
    padding: 0.75rem 1.5rem; 
    text-align: left; 
  }
  
  .tabel-keuangan tfoot td {
    padding: 0.75rem 1.5rem; 
    text-align: left; 
  }

